body{
  margin: 0;
  padding: 0;
  background-color: #fdfdf1;
  font-family:Arial, Helvetica, sans-serif;
}

.nav_bar{
  display: flex;
  justify-content: space-around;
  color: black;
  margin-top: 1%;
}

.nav_bar a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.nav_bar a:hover{
  color: wheat;
  animation: minhaAnimacao 0.3s ease forwards;
  /*background-color: #175746;*/
}
header{
  background-color: #2f9e6b;
  padding: 25px 0;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 89vh;
  padding: 10px 10%;
  font-size: 25px;
  margin-top: 2%;
}

.titulo{
  display: flex;
  align-items: center;
  text-align: start;
}

.titulo img{
  width: 40%;
}

.conteudo{
  display: flex;
  align-items:flex-start;
  flex-direction: column;
}

.cards{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}

.energia_solar{
  background-color:  rgb(231, 231, 231);
  border-radius: 25px;
  padding: 0px 24px 0px;
}

.energia_eolica{
  background-color: rgb(231, 231, 231);
  border-radius: 25px;
  padding: 0px 24px 0px;
}

.biomassa{
  background-color: rgb(231, 231, 231);
  border-radius: 25px;
  padding: 0px 24px 0px;
}