body{
    margin: 0;
    padding: 0;
    background-color: #fdfdf1
}

a {
    text-decoration: none;
    color: #175746;
}

.nav_bar{
    display: flex;
    justify-content: space-around;
    color: black;
    margin-top: 1%;
}

.nav_bar a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.corpo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 93vh;
    padding: 10px 25%;
    font-size: 25px;
}

.conteudo{
    display: flex;
    align-items:flex-start;
    flex-direction: column;
}

.imagem_simulador{
    display: flex;
    align-items: center;
}

.conteudo{
    background-color: lightgray;
    border-radius: 10%;
    padding: 2%;
}